- title ['Parties', @party.name]
- description "#{ @party.name } has #{ pluralize @party.active_councillors.count, 'councillor' } on Dublin City Council"
- keywords "city council, parties, #{ @party.name }"

%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Parties', :parties
      .breadcrumb= link_to @party.name, @party

.view-content.-alpha
  .wrapper{role: 'layout'}
    .party-card
      %figure.-logo{class: "-#{ @party.slug }"} &nbsp;
      .data
        .meta-data
          .meta-data_block
            %h1= @party.name
            %p
              #{ pluralize @party.active_councillors.count, 'member' } currently on the council

= svelte_component('Switcher', {basePath: party_path(@party), renderedView: @view.to_s, currentView: @view.to_s, links: [{view: 'councillors', label: 'Councillors'}]}, class: 'view-subnav')

#switcherView= render partial: @view.to_s, locals: {party: @party}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'