%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb= link_to "Councillors", [:admin, :councillors]
      .breadcrumbs_crumb= link_to @councillor.full_name_was, [:admin, @councillor]
      .breadcrumbs_crumb
        %h1 Edit

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-2
        %nav.secondary-nav
          %ul.list.-enumerable
            %li= link_to "Overview", [:admin, @councillor]
            %li= link_to "Edit", [:edit, :admin, @councillor]

      .col-xs-10
        %section
          %header.subheader
            %h2 Edit details
          %main
            = form_for [:admin, @councillor], class: 'admin-form' do |f|
              = render partial: 'admin/shared/errors', locals: {errors: @councillor.errors}
              .admin-form_field
                = f.label :given_name, 'Name'
                .twofer
                  = f.text_field :given_name
                  = f.text_field :family_name

              .admin-form_actions
                = f.submit 'Save'
