%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Councillors', [:admin, :councillors]
      .breadcrumb= link_to @councillor.full_name, [:admin, @councillor]

.view-content.-alpha
  .wrapper{role: 'layout'}
    .councillor-card
      %figure.-portrait{class: "-#{ @councillor.party.slug }"}= image_tag @councillor.portrait.url(:medium), loading: 'lazy', alt: "Portrait of #{ @councillor.full_name }"
      .bio
        .meta-data
          .meta-data_block.-label
            %h1= @councillor.full_name

          .meta-data_block
            %p
              = render partial: 'icons/party', locals: {party: @councillor.party}
              = @councillor.party.name
            %p= @councillor.local_electoral_area_name

          - if @councillor.events.any?
            .meta-data_block
              %label Electoral history
              %ol.list
                - @councillor.events.includes(:eventable).each do |event|
                  %li
                    %span.text.-fixed.-info
                      #{ event.occurred_on.strftime('%b \'%y') } &mdash;
                    %span= raw summarize_event_for_councillor event, @councillor

          - if @councillor.media_mentions.any?
            .meta-data_block
              %label Media
              %ul.list.-emmed
                - @councillor.media_mentions.each do |media_mention|
                  %li= render partial: 'media_mentions/media_mention', locals: {media_mention: media_mention}