%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Meetings', [:admin, :meetings]
      .breadcrumb= link_to @amendment.meeting.occurred_on_formatted, [:admin, @amendment.meeting]
      .breadcrumb= link_to 'Motion', [:admin, @amendment.motion], title: @amendment.motion.title
      .breadcrumb= link_to 'Amendment', [:admin, @amendment], title: @amendment.body

= svelte_component('Switcher', {basePath: admin_amendment_path(@amendment), renderedView: @view.to_s, currentView: @view.to_s, links: [{view: 'details', label: 'Details'},{view: 'votes', label: 'Votes'}], redirect: true}, class: 'view-subnav')

%div= render partial: @view.to_s, locals: {amendment: @amendment}