%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb= link_to "Meetings", [:admin, :meetings]
      .breadcrumbs_crumb= link_to @meeting.occurred_on_was.strftime('%-d.%m.%y'), [:admin, @meeting]
      .breadcrumbs_crumb= link_to "Motion #{ @motion.agenda_item }", [:admin, @motion]
      .breadcrumbs_crumb
        %h1= link_to "Amendment #{ @amendment.position }", [:admin, @amendment]

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-2
        %nav.secondary-nav
          %ul.list.-enumerable
            %li= link_to "Overview", [:admin, @amendment]
            - if @amendment.rollcall?
              %li= link_to "Votes", [:votes, :admin, @amendment]
            %li= link_to "Edit", [:edit, :admin, @amendment]

      .col-xs-10
        %section
          %header.subheader
            %h2 Details
          %main
            %dl.data
              %dt Text
              %dd
                .text
                  :markdown
                    #{ @amendment.body }
              %dt Proposers
              %dd= @amendment.proposers.map(&:full_name).join(', ')
              %dt Vote
              %dd rules: #{ @amendment.vote_ruleset }; method: #{ @amendment.vote_method }
              %dt Result
              %dd= @amendment.vote_result
