- title ['Meetings', @meeting.title]
- description "Dublin City Council #{ @meeting.meeting_type } meeting on #{ @meeting.occurred_on.strftime('%-d %B \'%y') } at which #{ pluralize @meeting.attendances.presentish.count, 'councillor' } were present."
- keywords "city council, meetings, #{ @meeting.meeting_type }"

%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Meetings', :meetings
      .breadcrumb= link_to @meeting.occurred_on_formatted, @meeting.path

.view-content.-alpha
  .wrapper{role: 'layout'}
    .meeting-card
      .meta-data
        .meta-data_block
          %h1= @meeting.meeting_type_in_english
          %p= @meeting.occurred_on.strftime('%-d %B \'%y')

%nav.view-subnav
  .wrapper{role: 'layout'}
    .subnav-items
      .subnav-item{class: (@view == :motions) ? '-current' : nil}
        = link_to "Motions", [:motions, @meeting]
      .subnav-item{class: (@view == :attendances) ? '-current' : nil}
        = link_to "Attendance", [:attendances, @meeting]

.view-partial= render partial: "meetings/#{ @view.to_s }", locals: {meeting: @meeting}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'