- title ['Meetings', @meeting.title]
- description "Dublin City Council #{ @meeting.meeting_type } meeting on #{ @meeting.occurred_on.strftime('%d/%m/%y') } at which #{ pluralize @meeting.attendances.presentish.count, 'councillor' } were present."
- keywords "city council, meetings, #{ @meeting.meeting_type }"

%header.view-header
  .wrapper{role: 'layout'}
    %h1= link_to @meeting.title, meeting_path(meeting_type: @meeting.meeting_type, occurred_on: @meeting.occurred_on)

.view-content.-alpha
  .wrapper{role: 'layout'}
    .motion-card
      #{ @meeting.inspect }

%nav.view-subnav
  .wrapper{role: 'layout'}
    .subnav-items
      .subnav-item{class: (@view == :motions) ? '-current' : nil}
        = link_to "Motions", [:motions, @meeting]
      .subnav-item{class: (@view == :attendance) ? '-current' : nil}
        = link_to "Attendance", [:attendance, @meeting]

.view-content.-omega
  .wrapper{role: 'layout'}
    .view-partial= render partial: "meetings/#{ @view.to_s }", locals: {meeting: @meeting}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'