%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb
        %h1= link_to "Events", [:admin, :events]

.primary-main_content
  .wrapper{role: 'layout'}
    %section
      %header.table-header
        = link_to "New Change of Affiliation", [:new, :admin, :change_of_affiliation]
        = link_to "New Co-Option", [:new, :admin, :co_option]
        = link_to "New Election", [:new, :admin, :election]

      %ul.list.-enumerable
        - @events.each do |event|
          %li
            = link_to [:edit, :admin, event.eventable] do
              .row
                .col-xs-2
                  .text.-fixed= event.occurred_on.strftime('%d.%m.%y')
                .col-xs-9
                  = raw admin_summarize_event(event)