%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb
        %h1= link_to "Events", [:admin, :events]

.primary-main_content
  .wrapper{role: 'layout'}
    %section
      %ul.list.-enumerable
        - @events.each do |event|
          %li
            = link_to [:admin, event] do
              .row
                .col-xs-2
                  .text.-fixed= event.occurred_on.strftime('%-d.%m.%y')
                .col-xs-9
                  = raw admin_summarize_event(event)