%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Events', [:admin, :events]
      .breadcrumb= link_to "#{ @event.eventable_type } on #{ @event.occurred_on.strftime('%-d.%m.%y') }", [:admin, @event]

.view-content.-alpha
  .wrapper{role: 'layout'}
    .meta-data.-small
      .meta-data_block
        %label Event
        %p #{ @event.inspect }
      .meta-data_block
        %label #{ @event.eventable_type }
        %p #{ @event.eventable.inspect }