:coffeescript
  saveChanges = (form) ->
    data = form.serialize()
    $.ajax
      type: 'patch'
      url: form.attr('action')
      dataType: 'json'
      data: form.serialize()
      success: (data) ->
        console.log data

  $(document).on 'turbolinks:load', ->
    $('form').on 'change', '[type="checkbox"]', (e) ->
      checkboxEl = $(e.target)
      formEl = checkboxEl.parents('form').first()
      liEl = checkboxEl.parents('.row').first()

      val = checkboxEl.data('value')
      i = checkboxEl.data('index')
      name = "meeting[attendances_attributes][" + i + "][status]"

      for checkbox in $('[type="checkbox"]', liEl)
        if $(checkbox).data('value') isnt val
          $(checkbox).attr('checked', false)

      $('[name="' + name + '"]', liEl).val(val)
      saveChanges(formEl)

%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb= link_to "Meetings", [:admin, :meetings]
      .breadcrumbs_crumb= link_to @meeting.occurred_on_was.strftime('%d.%m.%y'), [:admin, @meeting]
      .breadcrumbs_crumb
        %h1 Attendance

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-2
        %nav.secondary-nav
          %ul.list.-enumerable
            %li= link_to "Overview", [:admin, @meeting]
            %li= link_to "Attendance", [:attendances, :admin, @meeting]
            %li= link_to "Edit", [:edit, :admin, @meeting]

      .col-xs-10
        %section
          %header.subheader
            .row
              .col-xs-8
                %h2 Edit attendance
              .col-xs-4
                .text.-fixed.-right.-info
                  %span{'data-bind': 'autosaveTimestamp'} &nbsp;

          %main
            = form_for [:update_attendances, :admin, @meeting], method: 'patch', html: {class: 'admin-form', 'data-action': 'autosave'} do |f|
              %header.table-header
                .row
                  .col-xs-1.col-xs-offset-8
                    %label apologies
                  .col-xs-1
                    %label expected
                  .col-xs-1
                    %label absent
                  .col-xs-1
                    %label present
              %ul.list.-small
                = f.fields_for :attendances, @meeting.attendances.by_councillor_name do |af|
                  %li
                    .row
                      .col-xs-8
                        = af.hidden_field :id
                        = af.hidden_field :councillor_id
                        = af.hidden_field :status, 'data-bind': 'checkboxes'

                        .party-affiliated
                          .party-icon.party-icon{style: "background-color: ##{ af.object.party.colour_hex };", title: af.object.party.name} &nbsp;
                          .text.-display= af.object.councillor.full_name

                      - %w(apologies expected absent present).each do |status|
                        .col-xs-1.-delineated-h
                          .admin-form_checkbox
                            %label
                              %input{type: 'checkbox', 'data-value': status, checked: (af.object.status == status)}
