%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb
        %h1= link_to "Meetings", [:admin, :meetings]

.primary-main_content
  .wrapper{role: 'layout'}
    %section
      %header.subheader
        .text.-right
          %nav.subheader_nav
            = link_to "Scrape from DCC", [:scrape, :admin, :meetings], method: 'patch'
            = link_to "Manually add new meeting", [:new, :admin, :meeting]
    %ul.list.-enumerable
      - @meetings.each do |meeting|
        %li
          = link_to [:admin, meeting] do
            .row
              .col-xs-2
                .text.-fixed= meeting.occurred_on.strftime('%d.%m.%y')
              .col-xs-6
                = meeting.meeting_type_in_english
              .col-xs-4
                .text.-fixed.-right= pluralize meeting.motions.published.count, 'motions'
