- title ['Topics', @tag]
- description "#{ pluralize @motions.count, 'motion' } related to #{ @tag } in Dublin City Council"
- keywords "city council, motions, #{ @tag }"

%header.view-header
  .breadcrumbs
    .breadcrumbs_crumb
      %h1= @tag

.wrapper{role: 'layout'}
  %ul.list.-enumerable
    - @motions.each do |motion|
      %li
        = link_to motion do
          = render partial: 'motions/motion', locals: {motion: motion}
