- title ['Motions', @motion.title]
- description "Motion: #{ @motion.title } proposed by #{ @motion.proposers.map(&:full_name).to_sentence } on #{ @motion.occurred_on.strftime('%d/%m/%y') }."
- keywords "city council, motions, #{ @motion.tags.join(',') }"

%header.view-header
  .wrapper{role: 'layout'}
    %h1= link_to raw("#{@motion.occurred_on.strftime('%d %b %Y')} &mdash; #{@motion.title}"), @motion

.view-content.-alpha
  .wrapper{role: 'layout'}
    .motion-card
      #{ @motion.inspect }

%nav.view-subnav
  .wrapper{role: 'layout'}
    .subnav-items
      .subnav-item{class: (@view == :votes) ? '-current' : nil}
        = link_to "Vote", [:votes, @motion]
      .subnav-item{class: (@view == :amendments) ? '-current' : nil}
        = link_to [:amendments, @motion] do
          Amendments
          - if @motion.amendments.any?
            (#{ @motion.amendments.count })

.view-content.-omega
  .wrapper{role: 'layout'}
    .view-partial= render partial: "motions/#{ @view.to_s }", locals: {motion: @motion}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'