%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb= link_to "Meetings", [:admin, :meetings]
      .breadcrumbs_crumb= link_to @meeting.occurred_on_was.strftime('%d.%m.%y'), [:admin, @meeting]
      .breadcrumbs_crumb
        %h1= link_to "Motion #{ @motion.agenda_item }", [:admin, @motion]

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-2
        %nav.secondary-nav
          %ul.list.-enumerable
            %li= link_to "Overview", [:admin, @motion]
            - if @motion.rollcall?
              %li= link_to "Votes", [:votes, :admin, @motion]
            %li= link_to "Edit", [:edit, :admin, @motion]

      .col-xs-10
        %section
          %main
            .box.-highlighted.-padded
              .row
                .col-xs-8
                  .text.-display
                    - if !@motion.is_published?
                      This motion is not published.
                    - else
                      This motion was published on #{ @motion.published_at.strftime('%d.%m.%y') }.
                .col-xs-4
                  .text.-right
                    - if !@motion.is_published?
                      = link_to 'Publish', [:publish, :admin, @motion], class: 'button -utility', method: 'patch'
                    - else
                      = link_to 'Unpublish', [:publish, :admin, @motion], class: 'button -utility', method: 'patch'

        %section
          %header.subheader
            %h2 Details
          %main
            %dl.data
              %dt Title
              %dd= @motion.title
              %dt Text
              %dd
                .text
                  :markdown
                    #{ @motion.body }
              %dt Areas
              %dd= @motion.local_electoral_areas.map(&:name).join(', ')
              %dt Proposers
              %dd= @motion.proposers.map(&:full_name).join(', ')
              %dt Topics
              %dd= @motion.tags.join(', ')
              %dt Vote
              %dd rules: #{ @motion.vote_ruleset }; method: #{ @motion.vote_method }
              %dt Result
              %dd= @motion.result
              %dt Interesting?
              %dd= @motion.interesting ? 'yes' : 'no'

        %section
          %header.subheader
            .row
              .col-xs-8
                %h2 Media
              .col-xs-4
                .text.-right
                  %nav.subheader_nav
                    = link_to "New mention", [:new, :admin, @motion, :media_mention]
          %main
            %ul.list.-enumerable
              - @motion.media_mentions.each do |media_mention|
                %li
                  = link_to [:edit, :admin, media_mention] do
                    .row
                      .col-xs-2
                        .text.-fixed= media_mention.published_on
                      .col-xs-7
                        %p.text.-one-line= media_mention.body
                      .col-xs-3
                        .text.-fixed.-info.-right= media_mention.domain

        %section
          %header.subheader
            .row
              .col-xs-8
                %h2 Amendments
              .col-xs-4
                .text.-right
                  %nav.subheader_nav
                    = link_to "New amendment", [:new, :admin, @motion, :amendment]
          %main
            %ul.list.-enumerable
              - @motion.amendments.by_position.each do |amendment|
                %li
                  = link_to [:admin, amendment] do
                    .row
                      .col-xs-1
                        .text.-fixed= amendment.position
                      .col-xs-9
                        %p.text.-one-line= amendment.body
                      .col-xs-2
                        .status{class: "-#{ amendment.result.to_s }"}
                          .status_icon
                          .status_text
                            %p #{ amendment.result }
