%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Admin", [:admin, :root]
      .breadcrumbs_crumb= link_to "Meetings", [:admin, :meetings]
      .breadcrumbs_crumb= link_to @meeting.occurred_on_was.strftime('%d.%m.%y'), [:admin, @meeting]
      .breadcrumbs_crumb
        %h1 Vote

.primary-main_content
  .wrapper{role: 'layout'}
    .row
      .col-xs-2
        %nav.secondary-nav
          %ul.list.-enumerable
            %li= link_to "Overview", [:admin, @motion]
            - if @motion.rollcall?
              %li= link_to "Votes", [:votes, :admin, @motion]
            %li= link_to "Edit", [:edit, :admin, @motion]

      .col-xs-10
        %section
          %header.subheader
            .row
              .col-xs-8
                %h2 Edit vote
              .col-xs-4
                .text.-fixed.-right.-info
                  %span{'data-bind': 'autosaveTimestamp'} &nbsp;
          %main
            = form_for [:update_votes, :admin, @motion], method: 'patch', html: {class: 'admin-form', 'data-action': 'autosave'} do |f|
              %header.table-header
                .row
                  .col-xs-1.col-xs-offset-7
                    %label no vote
                  .col-xs-1
                    %label abstain
                  .col-xs-1
                    %label absent
                  .col-xs-1
                    %label against
                  .col-xs-1
                    %label for
              %ul.list.-small
                = f.fields_for :votes, @motion.votes.by_councillor_name do |af|
                  %li
                    .row
                      .col-xs-7
                        = af.hidden_field :id
                        = af.hidden_field :councillor_id
                        = af.hidden_field :status, 'data-bind': 'checkboxes'

                        .party-affiliated
                          .party-icon.party-icon{style: "background-color: ##{ af.object.party.try(:colour_hex) };", title: af.object.party.try(:name) } &nbsp;
                          .text.-display= af.object.councillor.full_name

                      - %w(not_voted abstain absent against for).each do |status|
                        .col-xs-1.box.-delineated-h
                          .admin-form_checkbox
                            %label
                              %input{type: 'checkbox', 'data-value': status, checked: (af.object.status == status)}

