.enumerable.-councillor
  .party-indicator= render partial: 'icons/party', locals: {party: councillor.party}
  .content
    .name= councillor.full_name
  .party= councillor.party.name
  .area= councillor.local_electoral_area.name

  %figure.figure.-portrait= image_tag councillor.portrait.url(:small), loading: 'lazy', alt: "Portrait of #{ councillor.full_name }"