- title ['Councillors', @councillor.full_name]
- description "#{ @councillor.full_name } is #{ indefinitly_article(@councillor.party.name) } councillor for #{ @councillor.local_electoral_area.name }"
- keywords "#{ @councillor.full_name }, #{ @councillor.local_electoral_area.name }, #{ @councillor.party.name }"

%header.view-header
  .wrapper{role: 'layout'}
    %h1= link_to @councillor.full_name, @councillor

.view-content.-alpha
  .wrapper{role: 'layout'}
    .councillor-card
      %figure.-portrait= image_tag @councillor.portrait.url(:medium), loading: 'lazy', alt: "Portrait of #{ @councillor.full_name }"
      .bio
        %p.p.-t1= @councillor.full_name
        %p= link_to @councillor.party_name, @councillor.party
        %p= link_to @councillor.local_electoral_area_name, @councillor.local_electoral_area

%nav.view-subnav
  .wrapper{role: 'layout'}
    .subnav-items
      .subnav-item{class: (@view == :votes) ? '-current' : nil}
        = link_to "Votes", [:votes, @councillor], data: {scroll: 'maintain'}
      .subnav-item{class: (@view == :attendance) ? '-current' : nil}
        = link_to "Attendance", [:attendance, @councillor], data: {scroll: 'maintain'}
      .subnav-item{class: (@view == :motions) ? '-current' : nil}
        = link_to "Proposed motions", [:motions, @councillor], data: {scroll: 'maintain'}
      .subnav-item{class: (@view == :amendments) ? '-current' : nil}
        = link_to "Proposed amendments", [:amendments, @councillor], data: {scroll: 'maintain'}

.view-content.-omega
  .wrapper{role: 'layout'}
    .view-partial= render partial: "councillors/#{ @view.to_s }", locals: {councillor: @councillor}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'