- title ['Councillors', @councillor.full_name]
- description "#{ @councillor.full_name } is #{ indefinitly_article(@councillor.party.name) } councillor for #{ @councillor.local_electoral_area.name }"
- keywords "#{ @councillor.full_name }, #{ @councillor.local_electoral_area.name }, #{ @councillor.party.name }"

%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Councillors', :councillors
      .breadcrumb= link_to @councillor.full_name, @councillor

.view-content.-alpha
  .wrapper{role: 'layout'}
    .councillor-card
      %figure.-portrait{class: "-#{ @councillor.party.slug }"}= image_tag @councillor.portrait.url(:medium), loading: 'lazy', alt: "Portrait of #{ @councillor.full_name }"
      .bio
        .cols{role: 'layout'}
          .col.-three
            .meta-data
              .meta-data_block.-label
                %h1.p.-t1= @councillor.full_name

              .meta-data_block
                %ul.list.-inline.-parties
                  %li= link_to @councillor.party_name, @councillor.party, class: "party -#{ @councillor.party.slug }"
                %p= link_to @councillor.local_electoral_area_name, @councillor.local_electoral_area

          .col.-one
            - if @councillor.events.any?
              .meta-data_block
                %label Electoral history
                %ol.list
                  - @councillor.events.each do |event|
                    %li
                      %span.text.-fixed.-info
                        #{ event.occurred_on.strftime('%b \'%y') } &mdash;
                      %span= raw summarize_event_for_councillor event, @councillor

            - if @councillor.media_mentions.any?
              .meta-data_block
                %label Media
                %ul.list.-emmed
                  - @councillor.media_mentions.each do |media_mention|
                    %li= render partial: 'media_mentions/media_mention', locals: {media_mention: media_mention}

%nav.view-subnav
  .wrapper{role: 'layout'}
    .subnav-items
      .subnav-item{class: (@view == :votes) ? '-current' : nil}
        = link_to "Votes", [:votes, @councillor], data: {scroll: 'maintain'}
      .subnav-item{class: (@view == :attendances) ? '-current' : nil}
        = link_to "Attendance", [:attendances, @councillor], data: {scroll: 'maintain'}
      .subnav-item{class: (@view == :motions) ? '-current' : nil}
        = link_to "Proposed motions", [:motions, @councillor], data: {scroll: 'maintain'}
      .subnav-item{class: (@view == :amendments) ? '-current' : nil}
        = link_to "Proposed amendments", [:amendments, @councillor], data: {scroll: 'maintain'}

.view-partial= render partial: "councillors/#{ @view.to_s }", locals: {councillor: @councillor}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'