- title ['Local electoral areas', @local_electoral_area.name]
- description "#{ @local_electoral_area.name } has #{ pluralize @local_electoral_area.active_councillors.count, 'councillor' } on Dublin City Council"
- keywords "city council, local electoral areas, #{ @local_electoral_area.name }"

%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Electoral areas', :local_electoral_areas
      .breadcrumb= link_to @local_electoral_area.name, @local_electoral_area

.view-content.-alpha
  .wrapper{role: 'layout'}
    .local_electoral_area-card
      %figure.-logo{class: "-#{ @local_electoral_area.slug }"} &nbsp;
      .data
        %h1.p.-t1= @local_electoral_area.name
        %p
          #{ pluralize @local_electoral_area.active_councillors.count, 'member' } currently on the council

%nav.view-subnav
  .wrapper{role: 'layout'}
    .subnav-items
      .subnav-item{class: (@view == :councillors) ? '-current' : nil}
        = link_to "Councillors", [:councillors, @local_electoral_area], data: {scroll: 'maintain'}
      .subnav-item{class: (@view == :motions) ? '-current' : nil}
        = link_to "Motions", [:motions, @local_electoral_area], data: {scroll: 'maintain'}

.view-partial= render partial: "local_electoral_areas/#{ @view.to_s }", locals: {local_electoral_area: @local_electoral_area}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'