%header.page-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumbs_crumb= link_to "Electoral areas", :local_electoral_areas
      .breadcrumbs_crumb
        %h1= link_to @local_electoral_area.name, @local_electoral_area

.primary-main_content
  .wrapper{role: 'layout'}
    %section
      %header.subheader
        %h2 Councillors
      %main
        %ul.list.-councillors.-enumerable
          - @councillors.by_name.each do |councillor|
            - seat = councillor.seats.where(local_electoral_area: @local_electoral_area).take
            %li
              = link_to councillor, class: 'councillor' do
                %figure.figure.-portrait= image_tag councillor.portrait.url, loading: 'lazy', alt: "Portrait of #{ councillor.full_name }"(:small)
                %p.text.-display= councillor.full_name
                %ul.list.-inline.-dotted
                  %li
                    %span.party-affiliated
                      %span.party-icon.party-icon{style: "background-color: ##{ seat.party.colour_hex };", title: seat.party.name} &nbsp;
                    = seat.party.name
                  %li= @local_electoral_area.name

    %section
      %header.subheader
        %h2 Motions concerning #{ link_to @local_electoral_area.name, @local_electoral_area }
      %main
        %ul.list.-enumerable
          - @motions.each do |motion|
            %li
              = link_to motion do
                = render partial: 'motions/motion', locals: {motion: motion}
