- title ['Local electoral areas', @local_electoral_area.name]
- description "#{ @local_electoral_area.name } has #{ pluralize @local_electoral_area.active_councillors.count, 'councillor' } on Dublin City Council"
- keywords "city council, local electoral areas, #{ @local_electoral_area.name }"

%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Electoral areas', :local_electoral_areas
      .breadcrumb= link_to @local_electoral_area.name, @local_electoral_area

.view-content.-alpha
  .wrapper{role: 'layout'}
    .local_electoral_area-card
      .meta-data
        .meta-data_block
          %h1= @local_electoral_area.name
          %p #{ pluralize @local_electoral_area.active_councillors.count, 'member' } currently on the council

= svelte_component('Switcher', {basePath: local_electoral_area_path(@local_electoral_area), renderedView: @view.to_s, currentView: @view.to_s, links: [{view: 'councillors', label: 'Councillors'}]}, class: 'view-subnav')

#switcherView= render partial: @view.to_s, locals: {local_electoral_area: @local_electoral_area}