= form_with model: media_mention, url: media_mention.persisted? ? [:admin, media_mention] : [:admin, mentionable, media_mention], class: 'admin-form' do |f|
  = render partial: 'admin/shared/errors', locals: {errors: f.object.errors}

  .admin-form_field
    = f.label :body, 'Article headline'
    .input
      = f.text_field :body

  .admin-form_field
    = f.label :url, 'Permanent URL of article'
    .input
      = f.text_field :url

  .admin-form_field
    = f.label :source, 'Publication name'
    .input
      = f.text_field :source

  .admin-form_field
    = f.label :published_on, 'Publication date'
    .input
      = f.text_field :published_on


  .admin-form_actions
    = f.submit 'Save', class: 'button'