- title "Amendment to #{@motion.title}"
- description "Amendment to #{ @motion.title } proposed by #{ @amendment.proposers.map(&:full_name).to_sentence } on #{ @amendment.occurred_on.strftime('%d/%m/%y') }."
- keywords "city council, motions, amendments, #{ @motion.tags.join(',') }"

%header.view-header
  .wrapper{role: 'layout'}
    #{ link_to raw("Amendment to &lsquo;#{@amendment.motion.title}&rsquo;"), @amendment }

.view-content.-alpha
  .wrapper{role: 'layout'}
    .motion-card
      .meta-data
        .meta-data_block.-full
          %label Amendment text

          - if @amendment.body.present?
            .text-block.p.-t2
              :markdown
                #{ @amendment.body }
          - else
            .empty-value None recorded
      
        .meta-data_block
          %label Result
          #{ @amendment.result.capitalize }ed
      
        .meta-data_block
          %label Vote method
          #{ @amendment.rollcall? ? 'Roll-call' : 'Voice' }
      
        .meta-data_block
          %label Proposed by
          - if @amendment.proposers.any?
            %ul.list.-inline
              - @amendment.proposers.each do |councillor|
                %li= link_to councillor.full_name, councillor
          - else
            .empty-value None recorded
          
        .meta-data_block
          %label Attachments
          %ul
            - @motion.attachments.each do |attachment|
              %li= link_to "Attached PDF", @motion.pdf_url

%nav.view-subnav
  .wrapper{role: 'layout'}
    .subnav-items
      .subnav-item{class: (@view == :votes) ? '-current' : nil}
        = link_to "Vote", [:votes, @amendment]

.view-partial= render partial: "amendments/votes", locals: {amendment: @amendment}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'