- title "Amendment to #{@amendment.motion.title}"
- description "Amendment to #{ @amendment.motion.title } proposed by #{ @amendment.proposers.map(&:full_name).to_sentence } on #{ @amendment.occurred_on.strftime('%d/%m/%y') }."
- keywords "city council, motions, amendments, #{ @amendment.motion.tags.join(',') }"

%header.view-header
  .wrapper{role: 'layout'}
    .breadcrumbs
      .breadcrumb= link_to 'Meeting', @amendment.motion.meeting.path
      .breadcrumb= link_to 'Motion', @amendment.motion
      .breadcrumb= link_to 'Amendment', @amendment

.view-content.-alpha
  .wrapper{role: 'layout'}
    .motion-card
      .cols{role: 'layout'}
        .col.-three
          .meta-data
            .meta-data_block
              %label Amendment text

              - if @amendment.body.present?
                .text-block.p.-t2
                  :markdown
                    #{ @amendment.body }
              - else
                .empty-value None recorded
        
            .meta-data_block
              %label Proposed by
              - if @amendment.proposers.any?
                = render partial: 'councillors/inline-list', locals: {councillors: @amendment.proposers}
              - else
                .empty-value None recorded
      
        .col.-one
          .meta-data
            .meta-data_block
              %label Attachments
              %ul
                - @amendment.attachments.each do |attachment|
                  %li= link_to "Attached PDF", @amendment.pdf_url

%nav.view-subnav
  .wrapper{role: 'layout'}
    .subnav-items
      .subnav-item{class: (@view == :votes) ? '-current' : nil}
        = link_to "Vote", [:votes, @amendment]

.view-partial= render partial: "amendments/votes", locals: {amendment: @amendment}

%footer.view-footer
  .wrapper{role: 'layout'}
    %nav.api
      = link_to "CSV", :root, class: 'other-format'
      = link_to "JSON", :root, class: 'other-format'