- title 'Sign in'
- noindex true

.view-content
  .wrapper{role: 'layout'}
    = form_with url: user_sessions_path, method: :post, class: 'admin-form' do
      .admin-form_field
        = label_tag :email_address
        .input= email_field_tag :email_address
      .admin-form_field
        = label_tag :password
        .input= password_field_tag :password

      .admin-form_actions
        = submit_tag "Login", class: 'button'
