!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = display_meta_tags site: 'Council Tracker', reverse: true

    = yield :snippets
  %body.-public
    .primary-header_container
      .wrapper{role: 'layout'}
        %header.primary-header_content.-admin
          .primary-header_logo
            = link_to [:admin, :root], class: 'logo' do
              Council Tracker: Admin
          %nav.primary-header_nav
            = link_to "Events", [:admin, :events]
            = link_to "Councillors", [:admin, :councillors]
            = link_to "Meetings", [:admin, :meetings]

    %main.primary-main= yield