!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = display_meta_tags site: 'Council Tracker', reverse: true

    = yield :snippets
  %body
    .standard{role: 'layout'}
      %header.primary-header
        .content
          %nav.primary-nav
            = link_to root_path, class: 'logo' do
              CouncilTracker.ie

            = link_to "Motions", motions_path
            = link_to "Councillors", councillors_path
            = link_to "Meetings", meetings_path

          %footer
            .text-block.p.-t4
              %ul
                %li= link_to 'FAQs', '/faq'
                %li= link_to "Submit correction", '/submit-correction'
                %li= link_to "Source code", 'https://www.github.com/civictech-ie/counciltracker-ie'

              :markdown
                [Council Tracker](/) is a project by [Dublin Inquirer](https://www.dublininquirer.com) and [CivicTech·ie](https://www.civictech.ie).
            
      %main.primary-main= yield