!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = display_meta_tags site: 'Council Tracker', reverse: true

    = yield :snippets
  %body.-public
    .primary-header_container
      .wrapper{role: 'layout'}
        %header.primary-header_content
          .primary-header_logo
            = link_to root_path, class: 'logo' do
              Council Tracker
          %nav.primary-header_nav
            = link_to "Motions", motions_path
            = link_to "Councillors", councillors_path
            = link_to "Meetings", meetings_path

    %main.primary-main= yield

    %footer.primary-footer
      .wrapper{role: 'layout'}
        .content
          .row
            .col-xs-4
              = link_to "https://www.dublininquirer.com" do
                %figure.figure.-logo= image_tag "dublin-inquirer.svg"
              :markdown
                [Council Tracker](/) is a [Dublin Inquirer](https://www.dublininquirer.com) project. It is not affiliated with [Dublin City Council](http://www.dublincity.ie).
            .col-xs-4.col-xs-offset-4
              %ul.list
                - if logged_in?
                  %li= link_to "Admin", [:admin, :root]
                %li= link_to 'Frequently asked questions', :faq
                %li= link_to 'Submit a correction', :correction
                %li= link_to 'Volunteer', :volunteer
                %li= link_to 'Github', "https://github.com/civictech-ie/counciltracker-ie"

:javascript
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5ab6c55bba4ae35c0a000004');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
