!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = display_meta_tags site: 'Council Tracker', reverse: true
  %body.-error
    .modal{role: 'layout'}
      %main.box.-card.-padded= yield